{% extends "partials/base.html" %}
{% load static %}
{% block title %}Roles{% endblock title %}
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Roles</h4>
                        <button type="button" class="btn btn-success btn-label waves-effect waves-light btn-sm" data-bs-toggle="modal" data-bs-target="#addRoles"><i class="ri-add-circle-line label-icon align-middle fs-16 me-2"></i>Add Role</button> <!--MODAL BUTTON-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="alternative-pagination" class="table nowrap dt-responsive align-middle table-hover table-bordered" style="width:100%">
                                <thead class="table-light"> 
                                    <tr>
                                        <th width="30%" class="text-center">Role Name</th>
                                        <th width="50%" class="text-center">Description</th>
                                        <th width="10%" class="text-center">Status</th>
                                        <th width="10%" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                {% for role in role_list %}
                                    {% if role.status != 'DELETED' %}
                                    
                                    <tr>
                                        <td>{{role.role_name}}</td>
                                        <td>{{role.description}}</td>
                                        <td class="text-center">
                                        {% if role.status == 'PENDING' %}
                                            <span class="badge badge-outline-info">For Approval</span>
                                        {% elif role.status == 'ACTIVE' %}
                                            <span class="badge badge-outline-success">Active</span>
                                        {% elif role.status == 'DISABLED' %}
                                            <span class="badge badge-outline-warning">Disabled</span>
                                        {% endif %}
                                        </td>

                                        <td class="text-center">
                                            <div class="dropdown d-inline-block">
                                                <button class="btn btn-soft-success btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">Actions</button>
                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                        <li>
                                                            <button type="button" class="dropdown-item viewButton" data-bs-toggle="modal" data-id="{{role.id}}" data-role_name="{{role.role_name}}" data-description="{{role.description}}" data-status="{{role.status}}"><i class="ri-eye-fill align-bottom me-2 text-muted"></i>View</button>
                                                        </li>
                                                        <li>
                                                            <button type="button" class="dropdown-item updateButton" data-bs-toggle="modal" data-id="{{role.id}}" data-role_name="{{role.role_name}}" data-description="{{role.description}}" data-status="{{role.status}}"><i class="ri-eye-fill align-bottom me-2 text-muted"></i>Edit</button>                                    
                                                        </li>
                                                        <li>
                                                            {% if role.status == "DELETED" %}
                                                                <button type="button" class="dropdown-item recoverButton" data-bs-toggle="modal" data-id="{{role.id}}" data-role_name="{{role.role_name}}" data-description="{{role.description}}" data-status="{{role.status}}"><i class="ri-eye-fill align-bottom me-2 text-muted"></i>Recover</button>
                                                            {% else %}
                                                                <button type="button" class="dropdown-item deleteButton" data-bs-toggle="modal" data-id="{{role.id}}" data-role_name="{{role.role_name}}" data-description="{{role.description}}" data-status="{{role.status}}"><i class="ri-eye-fill align-bottom me-2 text-muted"></i>Delete</button>
                                                            {% endif %}
                                                        </li>
                                                    </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% include "human_resources/roles-modals.html" %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}
{% endblock content %}